 body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container {
    margin: 0;
    border: 3px solid violet;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    background: linear-gradient(135deg, blue,darkblue);
 }

 .card {
    width: 90%;
    border: solid 2px;
    border-radius: 20px;
    padding: 12px;
    
 }

 h1 {
    color: white;
    size: 25px;
    text-align: center;

 }

 label{
    color: white;
    margin-top: 15px;
    display: block;
 }

 input {
    padding: 12px;
    size: 15px;
    width: 90%;
    outline: none;
    border: solid 1px violet;
    border-radius: 10px;
    margin-top: 12px;
  
 }

 #result {
    size: 18px;
    color: white;
    text-align: center;
    height: 1.6;
    margin-top: 5px;
 }
 button {
    width: 87%;
    padding: 10px;
    background-color:green;
    color: white;
    display: block;
    border-radius: 10px;
    border: 1px solid darkgreen;
    margin-top: 15px;
    align-items: center;
 }
 button:hover{
    color: darkgreen;
    transform: scale(1.01);
 }
